<nav class="h-screen flex items-center bg-gray-800 text-white">
  <ul>
    <li>
      <a [routerLink]="['feed']">Feed</a>
    </li>
    <li>
      <a [routerLink]="['profile']">Profile</a>
    </li>
    <li>
      <a [routerLink]="['ranking']">Ranking</a>
    </li>
    <li>
      <a [routerLink]="['task-list']">Task List</a>
    </li>
    <li>
      <a [routerLink]="['conversations']">Conversations</a>
    </li>
    <li>
      <a [routerLink]="['settings']">Settings</a>
    </li>
  </ul>
</nav>
<section class="h-screen flex flex-row justify-between">
  <div class="flex-grow-2">
    <router-outlet></router-outlet>
  </div>
  <div class="flex-grow">
    <section>side bar</section>
  </div>
</section>