.DS_Store
node_modules
.env
.env.local
.idea
.vs
.vscode
backend/Back/obj/
backend/Back/bin/
backend/Back.sln.DotSettings.user
backend/AdminPanel/obj
backend/AdminPanel/bin
backend/AdminPanel.sln.DotSettings.user
